[defaults]
callback_plugins = callbacks
stdout_callback = anstomlog
host_key_checking = False

ansible_managed = Ansible managed: {file} modified by irun-deploy/ansible.

roles_path = roles:roles_test:roles/internal
remote_tmp = /tmp/.ansible-${USER}/tmp

# Default timeout for connection plugins
#timeout = 10
timeout = 300

[persistent_connection]
# Configures the persistent connection timeout value in seconds. This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
#connect_timeout = 30
connect_timeout = 300

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 30 second.
#command_timeout = 30
command_timeout = 300
